@media (max-width: 648px) {
  .exhibits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: "hidden";
  }

  h1 {
    text-align: center;
  }

  .exhibits_history {
    margin: 20px;
    text-align: center;
  }

  .exhibits_museum {
    float: left;
    margin: 5px;
    height: 200px;
  }

  p {
    text-align: justify;
    font-size: 25px;
  }

  .exhibits_hero {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 90%;
    width: 100%;
    align-items: center;
  }

  .exhibits_hero_logo {
    object-fit: contain;
    margin: 10px;
  }

  .exhibits_name {
    font-weight: 600;
    font-size: x-large;
  }

  .exhibits_list {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-evenly;
  }

  .exhibits_item {
    height: 100%;
  }
}

@media (min-width: 648px) {
  .exhibits {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: "hidden";
  }

  h1 {
    text-align: center;
  }

  .exhibits_history {
    margin: 20px;
    text-align: center;
  }

  .exhibits_museum {
    float: left;
    margin: 5px;
    height: 350px;
  }

  p {
    text-align: justify;
    font-size: 25px;
  }

  .exhibits_hero {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 90%;
    width: 90%;
    align-items: center;
  }

  .exhibits_hero_logo {
    object-fit: contain;
    margin: 10px;
  }

  .exhibits_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-evenly;
  }

  .exhibits_item {
    width: 25%;
  }
}
