.home_container {
  width: 100px;
  height: 100px;
}

.home_header {
  z-index: 2;
}

.home_video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  opacity: 75%;
  top: 80px;
}

.home_container,
.home_content {
  height: 100%;
}

.home_container,
.home_content,
.home_header {
  width: 100%;
  position: absolute;
}

.home_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 1;
  top: 0;
}

.home_text {
  color: #fff;
  text-shadow: 3px 3px black;
}

.home_button {
  background-color: #0055a4;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-shadow: 3px 3px black;
}
